@model Client.Models.Account

    @{
        ViewData["Title"] = "Index";
    }


<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="assets/img/kaiadmin/favicon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
          google: { families: ["Public Sans:300,400,500,600,700"] },
          custom: {
            families: [
              "Font Awesome 5 Solid",
              "Font Awesome 5 Regular",
              "Font Awesome 5 Brands",
              "simple-line-icons",
            ],
            urls: ["assets/css/fonts.min.css"],
          },
          active: function () {
            sessionStorage.fonts = true;
          },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/kaiadmin.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="assets/css/demo.css" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="index.html" class="logo">
                        <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">

                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#base">
                                <i class="fas fa-layer-group"></i>
                                <p>Statistic year</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#maps">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>Statistic Month</p>
                            </a>

                        </li>

                        <li class="nav-item">
                            <a asp-controller="Farmers" asp-action="Create">
                                <i class="fas fa-th-list"></i>
                                <p>Manage Farmer</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#forms">
                                <i class="fas fa-pen-square"></i>
                                <p>Manage Expert</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#tables">
                                <i class="fas fa-table"></i>
                                <p>Manage News</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#maps">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>Manage Category News</p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#maps">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>Manage Category Post</p>
                            </a>

                        </li>



                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">
                            <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom bg-body-secondary">
                    <div class="container-fluid">
                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle" />
                                    </div>
                                    <span class="profile-username">
                                        <span class="op-7">Hi,</span>
                                        <span class="fw-bold">Hizrian</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg">
                                                <img src="assets/img/profile.jpg" alt="image profile" class="avatar-img rounded" />
                                            </div>
                                            <div class="u-text">
                                                <h4>Hizrian</h4>
                                                <p class="text-muted">hello@example.com</p>
                                                <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">My Profile</a>
                                        <a class="dropdown-item" href="#">My Balance</a>
                                        <a class="dropdown-item" href="#">Inbox</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Account Setting</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Logout</a>
                                    </li>
                    </div>
                    </ul>
                    </li>
                    </ul>
            </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <div class="container">
            <div class="page-inner">
                <!-- form add expert -->

                <div class="container">
                    <div>
                        <h4>Create account for farmer</h4>
                    </div>
                    <form>
                        <input asp-for="AccountId" value="0">
                        <input asp-for="RoleId" value="2">

                        <div class="d-flex ">
                            <div class="form-group w-50">
                                <label for="exampleInputEmail1">What is your full name?</label>
                                <input asp-for="FullName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                       placeholder="Enter full name at here">

                            </div>
                            <div class="form-group  w-50">
                                <label>Username</label>
                                <input asp-for="Username" type="text" class="form-control" placeholder="Enter your username at here">
                            </div>
                        </div>
                        <div class="d-flex ">

                            <div class="form-group w-50">
                                <label for="exampleInputEmail1">What is your email address?</label>
                                <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                                <small class="form-text text-muted">
                                    We'll never share your email with anyone
                                    else.
                                </small>
                            </div>
                            <div class="form-group  w-50">
                                <label for="exampleInputPassword1">Can I have your phone number?</label>
                                <input asp-for="Phone" type="number" class="form-control" id="exampleInputPassword1"
                                       placeholder="Enter your phone number at here">
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="form-group w-50">
                                <label for="exampleInputEmail1">When is your birthday?</label>
                                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group  w-50">
                                <label for="exampleInputPassword1">And your gender is?</label>
                                <div class="d-flex">
                                    <div class="form-check">
                                        <input asp-for="Gender" class="form-check-input" type="radio" value="Male" checked="" />
                                        <label class="form-check-label">Male</label>
                                    </div>

                                    <div class="form-check">
                                        <input asp-for="Gender" class="form-check-input" type="radio" value="Female" checked="" />
                                        <label class="form-check-label">Female</label>
                                    </div>
                                </div>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="form-group w-50">
                                <label for="exampleInputEmail1">Where do you live?</label>
                                <input asp-for="Address" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter your address at here">

                            </div>
                            <div class="form-group  w-50">
                                <label for="exampleInputPassword1">Can I have your avatar?</label>
                                <input asp-for="Avatar" type="file" class="form-control">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group w-50">
                                <label for="exampleInputEmail1">Your major is:</label>
                                <input asp-for="Major" type="text" class="form-control" placeholder="Enter your major at here">
                            </div>
                            <div class="form-group  w-50">
                                <label for="exampleInputPassword1">What is your password?</label>
                                <input asp-for="Password" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group w-50">
                                <label for="exampleInputEmail1">Can I get your degree image?</label>
                                <input asp-for="DegreeUrl" type="file" class="form-control">
                            </div>
                            <div class="form-group  w-50">
                                <label for="exampleInputPassword1">Can I get your education image?</label>
                                <input asp-for="YearOfExperience" type="file" class="form-control">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group w-50">
                                <label for="exampleInputEmail1">The number of years experience is:</label>
                                <input asp-for="YearOfExperience" type="number" class="form-control">
                            </div>
                            <div class="form-group  w-50">
                                <label for="exampleInputPassword1">Can I get your short bio?</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-info mx-3">Reset</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    </div>
    <!-- End Custom template -->
    </div>
    <!--   Core JS Files   -->
    <script src="assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="assets/js/core/popper.min.js"></script>
    <script src="assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- jQuery Sparkline -->
    <script src="assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Datatables -->
    <script src="assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="assets/js/kaiadmin.min.js"></script>


</body>

</html>