@{
    ViewData["Title"] = "Đăng ký thành công";
}
<link rel="stylesheet" href="~/css/bookingSuccessStyle.css" />
<section class="body">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1 class="title-success">Booking success</h1>
        <p class="content-success">You have created a request!!!</p>
        <a class="back-link" asp-controller="Services" asp-action="Services">
            <span class="arrow">←</span> Back to home page
        </a>
    </div>
</section>
