@model Client.ViewModel.RegisterFarmerViewModel

@{
    ViewData["Title"] = "Register Farmer";
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}

<main class="pt-3">
    <div class="container-register">
        <h1 class="title">Register</h1>

        <form method="post" asp-controller="Authen" asp-action="RegisterFarmer" class="form-register">

            <div class="field input-field form-floating">
                <input asp-for="FullName" type="text" placeholder="Full name" id="floatingFullname" class="fullname inputRegister form-control">
                <label for="floatingFullname">Full name</label>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="input-field gender-field">
                <label class="label-label" for="gender-options">Gender:</label>
                <div class="gender-options" id="gender-options">
                    <div class="male-option">
                        <input type="radio" id="male" asp-for="Gender" value="Male" checked>
                        <label for="male">Male</label>
                    </div>
                    <div class="female-option">
                        <input type="radio" id="female" asp-for="Gender" value="Female">
                        <label for="female">Female</label>
                    </div>
                </div>
            </div>

            <div class="field input-field form-floating">
                <input asp-for="DateOfBirth" type="date" placeholder="Birthday" id="floatingDoB" class="dob inputRegister form-control">
                <label for="floatingDoB">Birthday</label>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="field input-field form-floating">
                <input asp-for="PhoneNumber" type="text" placeholder="Phone" id="floatingPhone" class="phonenumber inputRegister form-control">
                <label for="floatingPhone">Phone</label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="field input-field form-floating">
                <input asp-for="Username" type="text" placeholder="Username" id="floatingUsername" class="username inputRegister form-control">
                <label for="floatingUsername">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="field input-field form-floating">
                <input asp-for="Password" type="password" placeholder="Password" id="floatingPass" class="password inputRegister form-control">
                <label for="floatingPass">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="field input-field form-floating">
                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" id="floatingRepass" class="password form-control">
                <label for="floatingRepass">Confirm password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="field button-field">
                <button type="submit">Register</button>
            </div>
        </form>

        <div class="back-login">
            <a asp-action="Index" asp-controller="Authen"><i class="fa-regular fa-hand-point-left"></i> Back to login page</a>
        </div>
    </div>
</main>

@if (TempData["RegisterFail"] != null)
{
    <input type="hidden" id="success-message" value="@TempData["RegisterFail"]">
}
@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var successMessage = document.getElementById('success-message')?.value;

            if (successMessage) {
                Swal.fire({
                    title: 'Alert',
                    text: successMessage,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                console.log(successMessage);
            }
        });
    </script>
}
